

.container_err {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img_error{
    max-width: 550px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.text_err {
    text-align: center;
    font-style: italic;
    font-weight: 400;
    color: #fff;
    margin-bottom: 40px;
    margin-top: -30px;
}



